.lp-form {
  &__input {
    min-width: 190px;
    padding-left: 15px;
    height: 52px;
    font-family: 'Open Sans',sans-serif;
    color: $formPlaceholderColor;
    border-radius: 5px;
    outline: none;
    border: none;
    &_email {
      margin-left: 10px;
    }
    &::placeholder {
      font-size: 16px;
    }
  }
  &__button {
    background: $submitBgColor;
    height: 52px;
    border-radius: 30px;
    padding: 0 24px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: $secondColor;
    cursor: pointer;
    margin-left: 20px;
    transition: all .3s ease-in;
    text-transform: uppercase;
    &:hover {
      background: $SubmitHoverBg;
    }
  }
}
