$main-color: #333333;
$secondColor: #fff;
$descriptionColor: #746621;
$borderHeaderColor: #ffec8f;
$hoverLinkColor: #666;
$mainTitleColor: #55018a;
$formBackgroundColor: #6d01b8;
$inputPlaceholderColor: #777777;
$bgOfBtn: #ffd403;
$btnHover: #bfa008;
$submitBgColor: #ff4747;
$formPlaceholderColor: #999999;
$SubmitHoverBg: #c70000;
$subtitlesColor: #2c0a41;
$bgColor: #f8f8f3;
$colorOfSteps: #29c5ff;
$textOfSteps: #876e96;
$colorOfActiveSteps: #d33a44;
$differentColorText: #28c5ff;
$diffrenetColorInfo: #f5e6ff;
$priceColor: #d81919;
$itemBgColor: #efefdf;
$colorOfHit: #fffc00;
$modalBgColor: #000;
$counterSecondColor: #ffe400;
$counterCOlor: #303030;
